<form action="/recipes" method="post">
    <p>Title: <input type = "text" name = "name"></p>
    <p>Content: <input type = "text" name = "ingredients"></p>
      <input name =type="submit" id="submit" >

  </form>